@page "/bibliocap"


<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xl-4">
            <h3>Que veut-tu partager ?</h3>
            <PublicationCreate type="3"/>
        </div>
        <div class="col-12 col-xl-8">
            <Feed whatType="biblio" />
        </div>
    </div>
</div>
