@page "/feed"
@inject IPublicationService PublicationService
@inject NavigationManager NavigationManager
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Feed</h1>
        </div>
        <div class="col-12" style="height: 80vh; overflow-y: scroll;">

            @if (PublicationService.Entities.Count == 0)
            {
                <p><em>Aucune publication</em></p>
            }
            else
            {
                <div class="row">

                    @foreach (var question in PublicationService.Entities)
                    {
                        <div class="col-sm-6">
                            <div class="card form-rounded mb-3">
                                <div class="card-header form-rounded" style="background-color:@question.Tag.Categories.CTG_color;">

                                    <h5 class="card-title"><span class="badge badge-secondary">@question.Tag.TAG_name</span> @question.PBC_title </h5>
                                    <h6 class="card-subtitle mb-2 text-white">@question.PBC_date</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-1">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="customSwitches'+@question.PBC_id+'">
                                                @if (question.PBC_resolved == true)
                                                {
                                                    <input type="checkbox" class="custom-control-input" id="customSwitches'+@question.PBC_id+'" checked>
                                                }
                                                <label class="custom-control-label" for="customSwitches'+@question.PBC_id+'"></label>
                                            </div>
                                        </div>

                                        <div class="col-12" style="max-height: 30vh; overflow-y: scroll;">
                                            <p class="card-text">@question.PBC_description</p>

                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-secondary">Card link</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

      }
        </div>
    </div>
</div>



@code {
    public List<PublicationDto> Publications = new List<PublicationDto>();

    protected override async Task OnInitializedAsync()
    {
        Publications = await PublicationService.GetEntities();
        PublicationService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        PublicationService.OnChange -= StateHasChanged;
    }
}