@page "/questions"






<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <h3>Comment puis-je t'aider ?</h3>
            <div class="mb-3">
                <input class="form-control shadow-sm form-rounded" placeholder="Sujet">
            </div>
            <div class="mb-3">
                <textarea class="form-control shadow-sm form-rounded" rows="5" placeholder="Description"></textarea>
            </div>
            <div class="mb-3 input-group">
                <input type="text" class="form-control form-rounded" placeholder="Tag" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary form-rounded" type="button" id="button-addon2">+</button>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-rounded tags pl-2">
                    C# <button class="btn btn-primary form-rounded">X</button>
                </label>
            </div>
                 <button type="button" class="btn btn-secondary form-rounded">Poser la question</button>
            </div>
        <div class="col-sm">
            <Feed></Feed>
        </div>
    </div>
</div>





@code {

}
