@page "/questions"
@inject IPublicationService PublicationService
@inject ITagService TagService
@inject NavigationManager NavigationManager
@implements IDisposable
@using Newtonsoft.Json 

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <h3>Comment puis-je t'aider ?</h3>
                <EditForm Model="Publication" OnValidSubmit="HandleSubmit">
                    <div class="mb-3">
                        <InputText @bind-Value="Publication.PBC_title" class="form-control shadow-sm form-rounded" placeholder="Sujet"></InputText>
                    </div>
                    <div class="mb-3">
                        <InputTextArea @bind-Value="Publication.PBC_description" maxlength="7000" class="form-control shadow-sm form-rounded" rows="5" placeholder="Description"></InputTextArea>
                    </div>
                    @if (Publication.TAG_id == 0)
                    {
                        <div class="mb-3 input-group">
                            <InputText @bind-Value="CurrentTag.TAG_name" class="form-control form-rounded" placeholder="Tag" list="txtsearch"></InputText><button type="button" class="btn btn-primary" @onclick="() => AddTagInPubli(CurrentTag.TAG_name)">+</button>
                            <datalist id="txtsearch">
                                @foreach (var tag in Tags)
                                {
                                    <option value="@tag.TAG_name"></option>
                                }
                            </datalist>
                        </div>
                    }
                    @if (Publication.TAG_id != 0)
                    {
                        <div class="mb-3">
                            <label class="form-rounded p-1" value="@Publication.Tag.TAG_id" style="background-color: @Publication.Tag.Categories.CTG_color;cursor:pointer;" @onclick="() => RemoveTagInPubli(Publication.Tag)">
                                <span class="badge badge-pill badge-light p-1">@Publication.Tag.TAG_name</span>
                            </label>
                        </div>
                    }
                    <div class="mb-3">
                        <button type="submit" class="btn btn-secondary form-rounded">Poser la question</button>
                    </div>
                </EditForm>
            </div>
            <div class="col-sm">
                <Feed></Feed>
            </div>
        </div>
    </div>





    @code {
        List<PublicationDto> Publications = new List<PublicationDto>();
        PublicationDto Publication = new PublicationDto();
        List<TagDto> Tags = new List<TagDto>();
        TagDto CurrentTag = new TagDto();

        protected override async Task OnInitializedAsync()
        {
            Tags = await TagService.GetEntities();
            Publications = await PublicationService.GetEntities();
        }



        async void HandleSubmit()
        {
            if (Publication.PBC_id == 0 && Publication.TAG_id != 0 && Publication.PBC_title != "" && Publication.PBC_description != "")
            {
                Publication.PBC_resolved = false;
                Publication.USR_id = 1;
                Publication.TYP_id = 1;

                await PublicationService.CreateEntity(Publication);
            }
            Publication = new PublicationDto();
        }

        public void AddTagInPubli(string name)
        {
            if (CurrentTag.TAG_name != "")
            {
                var temp = Tags.FirstOrDefault(h => h.TAG_name == name);
                Publication.TAG_id = temp.TAG_id;
                Publication.Tag = temp;
            }
        }

        public void RemoveTagInPubli(TagDto tag)
        {
            Publication.TAG_id = 0;
            Publication.Tag = new TagDto();
            CurrentTag.TAG_name = "";

        }

        public void Dispose()
        {
            PublicationService.OnChange -= StateHasChanged;
        }
    }