@page "/tags"
@inject ITagService TagService
@inject ICategoryService CategoryService
@inject NavigationManager NavigationManager
@implements IDisposable

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3>Tools</h3>
            </div>


            @if (TagService.Entities.Count == 0)
            {
                <span> Tag list is empty</span>
            }
            else
            {
                <div class="col-12">
                    <p>Liste de tags</p>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col" style="height: 40vh; overflow-y: auto;">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name </th>
                                        <th>Category</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var tag in TagService.Entities)
                                    {
                                    <tr>
                                        <td>@tag.TagId</td>
                                        <td>@tag.TagName</td>
                                        <td>@tag.Ctg.CtgName</td>
                                        <td><button class="btn btn-primary" @onclick="(() => Update(tag.TagId))">Edit</button></td>
                                        
                                        <td><button class="btn btn-danger" @onclick="(() => Delete(tag.TagId))">X</button></td>
                                        
                                    </tr>
                                    }
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <EditTag Tag="currentTag"></EditTag>

            </div>
            <div class="col-md-6">
                <InfoTag Tag="currentTag"></InfoTag>
            </div>
        </div>
    </div>





@code {
    TagDto currentTag = new TagDto();
    List<PublicationDto> PublicationsList = new List<PublicationDto>();

    protected override async Task OnInitializedAsync()
    {
        await TagService.GetEntities();
        await CategoryService.GetEntities();
        TagService.OnChange += StateHasChanged;

    }


    void Update(int id)
    {
        currentTag = TagService.Entities.Find(h => h.TagId == id);
    }

    void Delete(int id)
    {
        TagService.DeleteEntity(id);
    }

    public void Dispose()
    {
        TagService.OnChange -= StateHasChanged;
    }

}
