
<div class="container-fluid">
    <div class="row">
        @foreach (var response in Responses)
        {
            <div class="col-12">
                <h5>@response.PbcTitle</h5>
                @*<p class="text-muted">@response.Usr.UsrLastname @response.Usr.UsrFirstname</p>*@
                <p>@response.PbcDescription</p>
            </div>
        }


    </div>
</div>






@code {
    [Parameter]
    public List<PublicationDto> Responses { get; set; } = new List<PublicationDto>();
}
