@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/*dark blue     :   RGB( 0, 112, 173)
light blue      :   RGB( 18, 171, 219)*/

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #fffafa00;
}

.btn-secondary {
    color: white;
    background-color: RGB( 18, 171, 219);
    border-color: #fffafa00;
}

.form-rounded {
    border-radius: 10px;
}

/*************************Custom CSS Scrollbar************************/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: RGB( 0, 112, 173);
    border-radius: 15px;
}

     /*Handle on hover*/ 
        ::-webkit-scrollbar-thumb:hover {
            background: RGB( 18, 171, 219);
        }

.content {
    padding-top: 2vh;
}
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
