@inject ITagService TagService
@inject ICategoryService CategoryService



<div class="continer-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <h4>Information</h4>
            <EditForm Model="Tag">
                <div class="form-group">
                    <label>Nom</label>
                    <InputText @bind-Value="Tag.TAG_name" class="form-control"></InputText>
                </div>
                <div class="form-group">
                    <label>Categorie</label>
                    <InputText @bind-Value="Category.CTG_name" class="form-control"></InputText>
                </div>
                <div class="form-group">
                    <label>Color</label>
                    <InputText id = "testColor" @bind-Value="Category.CTG_color" class="form-control"></InputText>
                </div>

            </EditForm>
        </div>
    </div>
</div>




@code {

    [Parameter]
    public TagDto Tag { get; set; } = new TagDto();
    public CategoryDto Category { get; set; } = new CategoryDto();

    protected override async Task OnParametersSetAsync()
    {

        if(Tag.TAG_id != 0)
        {
            Category = await CategoryService.GetCategory(Tag.CTG_id);
            
        }
    }

}
